<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>カート</title>
	</head>

	<body>
		カートの中身
		<form method="post" action="#" th:object="${listForm}">
			<table class="list">
				<tr>
					<th>No.</th>
					<th>商品名</th>
					<th>価格</th>
					<th>個数</th>
				</tr>
				<th:block th:each="order: ${cart.orderList}">
					<tr>
						<td th:text="${order.item.id}"></td>
						<td th:text="${order.item.name}"></td>
						<td th:text="'\\' + ${order.item.price}"></td>
						<td th:text="${order.num}"></td>
					</tr>
				</th:block>
			</table>
		</form>

		<br />

		<form method="get" action="#" th:action="@{/ListView}" th:object="${listForm}">
			<input type='submit' value='商品一覧に戻る' class='submit' />
		</form>
	</body>
</html>
